@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,900|Source+Sans+Pro:300,900&display=swap');
*, *::before, *::after {
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}
:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0db;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }

}





                                            /* //////////////////                  General styles                  ////////////////// */





body {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}
section {
    padding: 5em 2em;
}
img {
    display: block;
    max-width: 100%;
}
strong {
    font-weight: var(--fw-bold);
}
:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}
.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 300ms ease;
}
.btn:hover {
    transform: scale(1.1);
}




                                            /* //////////////////                  Typography                  ////////////////// */




h1, h1, h3 {
    line-height: 1;
    margin: 0;
}
h1 {font-size: var(--fs-h1)}
h2 {font-size: var(--fs-h2)}
h3 {font-size: var(--fs-h3)}

.section-title {
    margin-bottom: .25em;
}
.section-title-intro {
    font-weight: var(--fw-reg);
    align-self: end;
}

.section-subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}
.section-subtitle-intro,
.section-subtitle-about {
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    padding: .25em 1em;
}
.section-subtitle-work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}









                                            /* //////////////////                  Header                  ////////////////// */






header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}
nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}
nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}
nav a {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}
nav a:hover {
    color: var(--clr-accent);
}



/* Nav toggle */

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 3;
    outline: none;
}

.nav-open nav{
    transform: translateX(0);
}
.nav-open .nav-toggle {
    position: fixed;
}
.nav-open .burger {
    transform: rotate(.625turn);
    background-color: var(--clr-accent);
}
.nav-open .burger::before {
    transform: rotate(90deg) translateX(-6px);
    background-color: var(--clr-accent);
}
.nav-open .burger::after {
    opacity: 0;
}
 
.burger {
    display: block;
    position: relative;
}
.burger,
.burger::before,
.burger::after {
    background: var(--clr-dark);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}
.burger::before,
.burger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}
.burger::before {top: 6px;}
.burger::after {bottom: 6px;}




                                            /* //////////////////                  Intro - section                  ////////////////// */






.intro { 
    position: relative;
}
.intro-img {
    box-shadow: var(--bs);
}
.section-subtitle-intro {
    display: inline-block;
}

@media(min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            'img title'
            'img subtitle';
        grid-template-columns: min-content max-content;
    }
    .intro-img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 1;
    }
    .section-subtitle-intro {
        align-self: start;
        grid-column: 1/-1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}






                                            /* //////////////////                  Services                  ////////////////// */






.my-services {
    background-color: #888;
    background-image: url(./img/services-bg.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
}
.section-subtitle-services {
    color: #16e0db;
    position: relative;
}
.section-subtitle-services::after {
    content: '';
    display: block;
    width: 20%;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.3;
}
.services {
    margin-bottom: 4em;
}
.service {
    max-width: 500%;
    margin: 0 auto;
}
@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    .service + .service {
        margin-left: 2em;
    }
}






                                            /* //////////////////                  About                  ////////////////// */





.about-me {
    max-width: 1000px;
    margin: 0 auto;
}
.about-me-img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            'title img'
            'subtitle img'
            'text img';
        grid-column-gap: 2em;
    }
    .section-title-about {
        grid-area: title;
    }
    .section-subtitle-about {
        grid-area: subtitle;
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }
    }
    .about-me-img {
        grid-area: img;
        position: relative;
        z-index: 1;
    }






                                            /* //////////////////                  Work                  ////////////////// */





.my-work {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}
.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;

}
.portfolio-item {
    background: var(--clr-accent);
    overflow: hidden;
}
.portfolio-item:focus {
    position: relative;
    z-index: 1;
}
.portfolio-img {
    transition: transform 750ms ease-in-out, 
                opacity 250ms linear;
}
.portfolio-img:hover,
.portfolio-item:focus .portfolio-img {
    transform: scale(1.2);
    opacity: .75;
}
@media(max-width: 700px) {
    .portfolio {
        max-width: 480px;
    }
}






                                            /* //////////////////                  Footer                  ////////////////// */





footer {
    background-color: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}
footer a {
    color: inherit;
    text-decoration: none;
}
.email-footer-link {
    font-weight: var(--fw-bold);
}
.email-footer-link:hover {
    text-decoration: underline;
}
footer ul {
    display: flex;
    justify-content: center;
    margin: 2em auto 0 auto;
    padding: 0;
}
footer li {
    list-style: none;
    margin: 0 .5em
}
footer li:hover {
    opacity: .7;
}
footer ul a {
    padding: .5em;
}





                                            /* //////////////////                  Individual portfolio item                  ////////////////// */







.portfolio-item-individual {
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-item-individual p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}